services:
  - type: web
    name: data-wand-web-staging
    runtime: node
    rootDir: apps/web
    plan: starter
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: NODE_ENV
        value: production
